* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(224, 229, 231); 
  position: relative;
}

#cabecera{
    background-image:url(/Imagenes/taller.png);
    background-color:#2196F3;
    color:#fff;
    height:350px;
    text-align: center;
}

 .divPrincipal{
    background-color: #f1f1f1;
    margin-left:27%;
    padding:0px 0px;
    height:max-content;
  }

  .affix {
    top: 20px;
    z-index: 9999 !important;
  }

  #foto{
    width:200px;
    height:200px; 
    border-radius: 100px;
  }

  #correo{
    color: black;
    font-size: large;
  }

  main{
    width: 75%;
  }   

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size:large ;
  }
    
  li a:hover{
    background-color: #04AA6D;
    color: white;
  }

  h2{
    font-family: 'Black Han Sans', sans-serif;
  }

  p{
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Glegoo', serif;
  }
 
  article {
    padding: 0px;
    width: 100%;
    background-color: #f1f1f1;
    height: auto; 
    text-align: center;
  }

  section{
    min-height: 100vh; 
    background-color: #f1f1f1;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-top: 25px;
  }
  section::after {
    content: "";
    display: table;
    clear: both;
    
  }

  i{
    color: rgb(26, 88, 88);
    font-size: 80px;
  }

  
 
  @media screen and (max-width: 810px) {
    #datos, #exp, #edu, #curso{
      margin-left: 150px;
    }
    .divPrincipal2{
      background-color: #f1f1f1;
      margin-left:33%;
      padding:0px 0px;
      height:max-content;
    }
  }